apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
# - image-automation.yaml  # Requires image-reflector-controller and image-automation-controller
- ../../../k8s/base
