apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
        - name: fastapi
<<<<<<< HEAD
          image: ghcr.io/rmiravalles/gitops-fastapi:8c7becc
=======
          image: ghcr.io/rmiravalles/gitops-fastapi:8c7becc
>>>>>>> 0f2ee1d (chore: add image policy marker)
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"